body {
    font-family: terminus;
    background-color: #202020;
    font-size: 14pt;
}

input {
    font-family: terminus;
    background-color: #202020;
    font-size: 14pt;
    color: #ffffff;
    border: none;
    box-shadow: none;
    outline: none;
    autofocus: true;
    visibility: hidden;
}

.button {
    font-family: terminus;
    cursor: pointer;
    font-size: 14pt;
    color: #00ff00;
    width: fit-content;
    border: 1px solid #dddddd;
}

.button:hover {
    border-color: #999999;
}

.list-header {
    font-family: terminus;
    font-size: 14pt;
    color: #00ff00;
    width: fit-content;
    border: 1px solid #dddddd;
    cursor: default;
}

.list-option {
    font-family: terminus;
    font-size: 14pt;
    color: #ffffff;
    width: fit-content;
    visibility: hidden;
    position: absolute;
}

.image_wrapper {
    position: relative;
    display: inline-grid;
    padding:0;
    line-height: 0;
}

.image_wrapper > :not(span) {
    grid-area: 1 / 1;
}

.image_caption {
    line-height: 1.2;
    width: 0;
    min-width: 100%;
    margin-top: 10px;
}

.img_container {
    padding: 0;
    visibility: hidden;
}

.terminal_header {
    color: #00ff00;
    text-align: left;
    visibility: hidden;
}
.typewriter {
    position: relative;
}
.ghost {
    text-align: left;
    visibility: hidden;
    white-space: pre-wrap;
    padding: 0;
}
.terminal_content {
    position: absolute;
    top: 0;
    left: 0;
    color: #ffffff;
    text-align: left;
    display: inline-block;
    white-space: pre-wrap;
}