body {
    font-family: terminus;
    background-color: #202020;
    font-size: 18pt;
}

button {
    font-family: terminus;
    background-color: #202020;
    font-size: 18pt;
    color: #00ff00;
}

input {
    font-family: terminus;
    background-color: #202020;
    font-size: 18pt;
    color: #ffffff;
    border: none;
    box-shadow: none;
    outline: none;
    autofocus: true;
    visibility: hidden;
}

.image_wrapper {
    position: relative;
    display: inline-grid;
    padding:0;
    line-height: 0;
}

.image_wrapper > * {
    grid-area: 1 / 1;
}

.img_container {
    padding: 0;
    visibility: hidden;
}

.terminal_header {
    color: #00ff00;
    text-align: left;
    visibility: hidden;
}
.typewriter {
    position: relative;
}
.ghost {
    text-align: left;
    visibility: hidden;
    white-space: pre-line;
    padding: 0;
}
.terminal_content {
    position: absolute;
    top: 0;
    left: 0;
    color: #ffffff;
    text-align: left;
    display: inline-block;
    white-space: pre-wrap;
}