<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/home/.misc/favicon.svg" type="image/x-icon" />
</head>
<style>
    #content {
        white-space: pre-wrap;
        color: #ffffff;
        line-height: 20px;
        outline: none;
    }
    @font-face {
        font-family: terminus;
        src: url(/static/fonts/Terminus.ttf);
    }
</style>
<body>
<div id="content" tabindex="0"></div>
<div id="home" class="button" style="color:#00ff00;">Home</div>
</body>
<script>
    const highScores = {{ high_scores }};
</script>
<script src="{{ url_for('static', filename='js/utils.js') }}" type="module"></script>
<script src="{{ url_for('static', filename='js/' + js_file) }}"></script>
</html>