<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css">
</head>
<style>
    #content {
        white-space: pre-wrap;
        color: #ffffff;
        line-height: 20px;
        outline: none;
    }
    @font-face {
        font-family: terminus;
        src: url(/static/fonts/Terminus.ttf);
    }
</style>
<body>
<div id="content" tabindex="0">hello</div>
</body>
<script src="{{ url_for('static', filename='js/utils.js') }}" type="module"></script>
<script src="{{ url_for('static', filename='js/snake.js') }}"></script>
</html>