<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css">
</head>
<style>
    @font-face {
        font-family: terminus;
        src: url(/static/fonts/Terminus.ttf);
    }
</style>
<body>
{% import "components.html" as components %}
    <form id="terminal_form">
        <input type="submit" hidden>
        <div>
            {% for line in lines %}
                {{ components.header(line.path, line.num) }}
                {{ components.content(line.input, line.output, line.num) }}
            {% endfor %}
        </div>
        {{ components.header( path , lines | length) }}
        {{ components.terminal_input(0) }}
    </form>
</body>
<script>
    const lines = {{ lines | tojson }};
    const neofetch = {{ neofetch | tojson}};
    const all_pages = {{ all_pages | tojson }};
</script>
<script src="{{ url_for('static', filename='js/utils.js') }}"></script>
<script src="{{ url_for('static', filename='js/commands.js') }}"></script>
<script src="{{ url_for('static', filename='js/terminal.js') }}"></script>
</html>